
<!--Extend bootstrap template-->
{% extends "bootstrap/base.html" %}

<!--HTML--> 
<html>

    <!--Header for all pages-->
    {% block head %}

    <!--Adds favicon to every page-->
    <link rel="shortcut icon" 
          href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!--Add page/tab title-->
    <title>{{ title }}</title>

    <!--Applies style.css to every page-->
    <link rel="stylesheet" 
          href="{{ url_for('static', filename='css/style.css') }}">

    <!--Logo-->
    <img src="{{ url_for('static', filename='images/uwa_logo.png') }}" 
         alt="UWA Logo" 
         style="max-width:18%; position:absolute;" >

    <!--Global header-->
    <div style="text-align: center;">
        <h1>
            <a class="title-button" href="{{ url_for('index') }}">
                Summer Down Under : Research Internship</a>
        </h1>
    </div>


    {% endblock %}



</html>
