

############## CITS3003 Project
# Ignore build files which need to be re-generated for each new path
CITS3003 - Graphics/Project - Scene Creator/cmake-build/*

# Ignore executable which can be regenerated
CITS3003 - Graphics/Project - Scene Creator/start_scene

# Ignore log file
CITS3003 - Graphics/Project - Scene Creator/assimp_log.txt
*.class
CITS2200 - Data Structures and Algorithms/nbproject/build-impl.xml
CITS2200 - Data Structures and Algorithms/nbproject/genfiles.properties
CITS2200 - Data Structures and Algorithms/nbproject/private/private.properties
CITS2200 - Data Structures and Algorithms/nbproject/private/private.xml
CITS2200 - Data Structures and Algorithms/nbproject/project.properties
