
# IDE
.DS_Store
.vscode
.idea

# Logging
testing/config_name.txt

# User files
app/static/user-files

# Virtual environment
venv
# Packages
__pycache__
app/__pycache__
app/*pycache*
*.pyc
flask 

# Databae
*.db
dbName
migrations
test.py
dataLoad.py
*.sql
app/__init__.pyc
app.db-journal
test.html
dataLoad.py
