{% extends "base.html" %}

{% block content %}
<div style="text-align: center; margin-top: 5%;">

    <h2>Forgot Your Password?</h2>

    <p> Enter your email below to receive an email with a reset link. </p>

    <form class="form-signin" role="form" method="post" action="">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p >
            <!-- {{ form.email.label }}<br> -->
            {{ form.email(size=32, placeholder=form.email.label.text) }}<br>
            <span class="error">
                {% if form.email.errors %}
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {% endif %}
            </span>
        </p>

        <!-- <p class="reset">{{ form.submit() }}</p> -->
        <button class="btn btn-success hover-button" type="submit">
            Reset Your Password
        </button>

        <br>


    </form>
</div>


{% endblock %}