
<p>Hello,</p>
<p>
    Thank you for your interest in the Summer Down Under Research Internship 
    program at the University of Western Australia. </p>
<p>
    By clicking the link below you can select:-
<ul>
    <li>"Student" as account type if you are a student, or</li>
    <li>"Supervisor" if you are a supervisor.</li>
</ul>


</p>
<p><a href="{{ confirmation_url }}">Click here to proceed</a></p>
<p>N.B.: Supervisors with unusual emails need to be confirmed by the Administrator.</p>

<br/>
<p>Thank you!</p>

<p>
    This email is sent from an unattended mail box. 
    Please do not reply to this mail. If you have 
    concerns about this mail please contact
</p>
