
<!--Generate faculty id-->
{% set fid %}{{ faculty.replace(",", "").replace(" ", "").strip() }}{% endset %}

<!--Faculty-->
<input
    type="radio"
    id="{{ fid }}_radio"
    name="faculty"
    value="{{ faculty }}"
    oninput="showSchools('{{ fid }}')"
    required >
<label for="{{ fid }}_radio">
    {{ faculty }}
</label>

<!--School radio buttons-->
<div id="{{ fid }}_schools" style="display: none;">

    <!--Add radio button for each school -->
    {% for school in schools %}
    <br>
    <input
        type="radio"
        id='{{ school.replace(" " , "") }}_radio'
        name="school"
        value="{{ school }}"
        style="width: 80px;"
        >
    <label for="school">
        {{ school }}
    </label>
    {% endfor %}
</div>

<br>