
<!-- Extend page template -->
{% extends "student/details/templ/page.html" %}

{% block questions %}

<h3> Information </h3>

<b> Please ensure you are aware of the information below: </b>

<p>
    There will be costs such as tuition fees, accommodation costs, 
    airfares, other traveling expenses (such as visa, insurance, etc) 
    and living expenses that are associated with attending this program 
    (fees may differ for some universities). 

    For more details, see 
    <a href="https://www.web.uwa.edu.au/global-engagement" target="_blank">
        here</a>.

    <br>
    <i> Please note: There will no longer be associated travel costs 
        beside the tuition fees for the online program. </i>
</p>


<p>
    Supervisors can be referees for postgraduate applications, 
    however only a reasonable number (no more than 5) will be provided.
</p>


<p>
    You will receive a certificate of participation 
    upon completion of the program.
</p>


<p>
    Please contact <i>jerline.chen@uwa.edu.au</i> 
    if you have further questions.
</p>

{% endblock %}