
<!-- Extend page template -->
{% extends "student/details/templ/page.html" %}

{% block questions %}

<!-- Sub heading -->
<label class="personal-details">Personal Details</label>


<h4> Choose your Country of Birth: </h4>
{% with name="birth_cntry" %}
{% include "student/details/templ/country-sel.html" %}
{% endwith %}


<h4> Choose your Country of Citizenship: </h4>
{% with name="citizen_cntry" %}
{% include "student/details/templ/country-sel.html" %}
{% endwith %}


<h4> Home Address: </h4>
<table id="address" style="text-align: left;">
    <tr>
        <td class="detLabel">Street &numero; and Address</td>
        <td class="detField">
            <input class="detInput" name="street_addr" required/>
        </td>
    </tr>

    <tr>
        <td class="detLabel">City</td>
        <td class="detField">
            <input class="detInput" name="city_addr" required/>
        </td>
    </tr>

    <tr>
        <td class="detLabel">State</td>
        <td class="detField">
            <input class="detInput" name="state_addr" required/>
        </td>
    </tr>

    <tr>
        <td class="detLabel">Postcode</td>
        <td class="detField">
            <input class="detInput" name="postcode_addr" required/>
        </td>
    </tr>

    <tr>
        <td class="detLabel">Country</td>
        <td class="detField">
            <input class="detInput" name="cntry_addr" required/>
        </td>
    </tr>
</table>


{% endblock %}