
<!-- Extend page template -->
{% extends "student/details/templ/page.html" %}

{% block questions %}

<!-- Sub heading -->
<label class="personal-details">Personal Details</label>

<!--Title-->
<h4> Title: </h4>

{% with name="title", vals=["Mr", "Ms"] %}
{% include "student/details/templ/rb-series.html" %}
{% endwith %}


<!--Gender-->
<h4> Gender: </h4>

{% with name="gender", vals=["Male", "Female"] %}
{% include "student/details/templ/rb-series.html" %}
{% endwith %}


<!--DOB-->
<h4> Date of Birth: </h4>
<input type="date" id="dob" name="dob" required>
<label for="date">(dd/mm/yyyy)</label>


{% endblock %}

